[Match]
Name=wlan0

[Network]
DHCP=yes
## to use static IP uncomment these instead of DHCP
# Address=192.168.3.100
Gateway=192.168.3.1
DNS=192.168.3.1
DNS=
Domains=
NTP=
NTP=
